* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* VARIÁVEIS*/
  
:root {
  --body-bg-color: #363062;
  --text-color: #F5F5F5;
  --bg-cards: #4D4C7D;
  --bg-techs: #F99417;
  --highlight-color: rgb(245, 245, 245, 0.1);
}
  
.dark {
  --body-bg-color: #22212C;
  --text-color: #F5F5F5;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --highlight-color: rgb(131, 126, 159, 0.1);
}
  
/* GERAL */

main {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-color);

  display: flex;
  flex-direction: row;

  padding: 2em;
  gap: 1.5em;

  transition: background-color .3s, color .3s;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

/* SECTION (<)*/

#principal {
  display: flex;
  flex-direction: column;
  
  gap: 1.5em;
}

#infos {
  padding: 2em;

  border-radius: 20px;
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

  transition: background-color .3s
}

#perfil, #techs, #experience, #education, #recent, #title-box, #box {
  padding: 1.2em 1em 1.5em;

  border-radius: 20px;
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  user-select: none;

  transition: background-color .3s;
}

/* HEADER (<) PERFIL */

#perfil {
  text-align: center;
}

#perfil .avatar {
  border-radius: 50%;
  width: 9em;
  height: 9em;

  border: 2px solid rgb(58, 255, 58);
  margin: 1em 4em;
}

#perfil #theme-button {
  transition: transform .3s, color .3s, background-color .3s;

  color: white;
  background-color: var(--body-bg-color);
  border-radius: 50px;

  text-align: center;
  outline: 5px solid transparent;

  padding: 5px;
  margin: 20px 60px 0;
}

#perfil #theme-button:hover {
  color: black;
  background-color: var(--bg-techs);
  transform: scale(1.04);

  cursor: pointer;
}

#perfil .status {
  margin: .2em;
  font-size: 14px;
  font-weight: 300;
  user-select: none
}

/* DIV (<) INFOS*/

#infos {
  display: flex;
  flex-direction: column;

  gap: .5em;
}

#infos ion-icon {
  font-size: 22px;
}

#infos p {
  display: flex;
}

#infos a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;

  text-decoration: none;
  color: var(--text-color);

  font-weight: 300;
  font-size: 16px;

  transition: color .3s;
}

#infos .style-default:hover {
  color: var(--bg-techs);
}

#infos .link-github:hover {
  color: rgb(173, 173, 173);
}

#infos .link-linkedin:hover {
  color: #0077B5;
}

#infos .link-twitter:hover {
  color: #1DA1F2;
}

/* DIV (<) TECHS */

#grid {
  padding: 1em 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .6rem;
}

#grid li {
  color: black;
  background-color: var(--bg-techs);

  font-size: 10px;
  font-weight: 600;
  text-align: center;

  padding: .6em;
  border-radius: 20px;
  box-shadow: transparent;

  transition: transform .3s, background-color .3s, color .3s, box-shadow .3s;
}

#grid li:hover {
  background-color: var(--body-bg-color);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  color: white;
}

/* DIV (<) EXPERIENCE & EDUCATION */

#experience ul, #education ul {
  display: flex;
  flex-direction: column;

  gap: .5em;
  padding: 1em 1em 1em 3em;
}

#experience li, #education li {
  font-size: 18px;
  font-weight: 500;
}

#experience p, #education p {
  font-weight: 300;
  font-size: 14px;
}

/* SECTION (>) */

#projects {
  display: flex;
  flex-direction: column;
  gap: 2em;

  width: 100%;
}

#area {
  display: flex;
  flex-direction: column;
  gap: .7em;
}

/* SECTION (>) POSTS */

#title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title-box a {
  color: var(--text-color);
  text-decoration: underline 2px transparent;
  transition: text-decoration-color .3s;
}

#title-box a:hover {
  text-decoration: underline 2px white;
}

#space {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#space #box, #recents #box {
  list-style: none;
}

#box ion-icon {
  font-size: 22px;
}

#box .footer .like {
  color: #FFFFFF;
  transition: transform .3s, color .3s;
  margin-left: auto;
}

#box .footer .like:hover {
  color: rgb(250, 60, 60);
  transform: scale(1.1);
  cursor: pointer;
}

#box .title {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: .5em;
  font-weight: 600;
  font-size: 20px;

  margin-bottom: .7em;
}

#box p {
  font-weight: 300;
  margin-bottom: 1em;
}

#box .footer {
  display: flex;
  flex-direction: row;
  align-items: center;


  gap: .4em;
  padding-right: 1em;
  justify-content: start;
}

/* SECTION (>) RECENTS */

#recents {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#recents #box, #recents #aside .footer {
  display: flex;
  flex-direction: row;
}

#recents #aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .6em;
}

#recents #box .avatar {
  border-radius: 50%;
  width: 9em;
  height: 9em;
  margin: 1em 2em 1em 1em;
}

#recents #aside #title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .4em;
}

#recents #aside .footer {
  display: flex;
  flex-direction: row;
  
  gap: 1em;
  list-style: none;
}

/* RESPONSIVE  */

@media (max-width: 1120px) {
  #space {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  #space #box, #recents #box {
    display: flex;
    flex-direction: column;
  }

  #recents #box {
    align-items: center;
  }

  #recents #box .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .2em;
  }

  main {
    padding: 1em;
  }
}

@media (max-width: 750px) {
  main {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: 1em;
  }

  #principal, #projects {
    gap: 1em;
  }
}